body {
    font-family: 'poppins';
}
img {
    width: 100%;
    object-fit:cover;
    height: 200px;
    margin-bottom: 1em;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
    max-width: 1200px;
    margin: auto;
}

.wrapper, main {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    gap: 2em;
}

article {
    background: white;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    overflow: hidden;
}

.text {
    padding: 1em;
}

a {
    display: block;
    text-decoration: none;
    background: rgb(47, 47, 201);
    width: 100%;
    color:white;
    padding: 0.5rem;
    border: none;
    margin-top: 5px;
}